/* You can add global styles to this file, and also import other style files */
body{
    background: linear-gradient(rgba(222, 245, 245, 0.99), rgb(236, 242, 255,0.9));
    background-size: cover;

}
html, body { height: 100%; }
body { margin: 0; padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
  
    max-width: 100%;
}