<div class="row header">
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar w/ text</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
        <span class="navbar-text">
          Navbar text with an inline element
        </span>
      </div>
    </div>
  </nav> -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img src="../../../assets/logo2.png" alt="logo" routerLink="/home">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Posts</a>
          </li>
        </ul>
        <form class="d-flex">
          <a *ngIf="!userService.isAuthenticated()" routerLink="/signin" class="btn btn-light btn-sm" (click)="hideHeader()">Sign In</a>
          <a *ngIf="!userService.isAuthenticated()" routerLink="/signup" class="btn btn-light btn-sm">Sign Up</a>
<!--          <a *ngIf="userService.isAuthenticated() === true" class="btn btn-danger" (click)="onLogout()">Logout</a>-->
          <div class="example-button-container" *ngIf="userService.isAuthenticated() === true">
            <button mat-fab color="warn" aria-label="Example icon button with a heart icon" (click)="onLogout()">
              <span class="material-icons">logout</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </nav>
</div>
